{% extends "base/base_biometrico.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="mt-4">
    <!--cards sincronizar y migrar-->
    <div class="card mb-2">
        <div class="card-body text-center">
            <h5 class="card-title">
                Sincronización y Migración de Información
            </h5>
            <button type="button" class="btn btn-primary" id="btnSincronizar">
                Sincronizar Todos
            </button>
            <button type="button" class="btn btn-success" id="btnMigrar">
                Migrar Todos
            </button>
            <div class="mt-2" id="divMensajes"></div>
            <div class="mt-2" id="divMensajesMigrar"></div>
        </div>
    </div>
    <!--tabla dispositivos-->
    <h5 class="card-title">
        Dispositivos Activos
    </h5>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección IP</th>
                <th scope="col"># Registros</th>
                <th scope="col"># Empleados</th>
                <th scope="col">Último Periodo Extraído</th>
                <th scope="col">Último Periodo Migrado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for disp in lista_dispositivos %}
                <tr>
                    <th scope="row">{{ disp.pk }}</th>
                    <td class="text-muted">{{ disp.nombre }}</td>
                    <td class="text-muted"><small>{{ disp.ip_address }}</small></td>
                    <td class="text-muted"><small>{{ disp.numero_registros }}</small></td>
                    <td class="text-muted"><small>{{ disp.get_numero_empleados }}</small></td>
                    <td class="text-muted">
                        <small>
                            {{ disp.get_ultimo_periodo.fecha_inicial }} -<br>{{ disp.get_ultimo_periodo.fecha_final }}
                        </small>
                    </td>
                    <td class="text-muted">
                        <small>
                            {{ disp.get_ultimo_migrado.fecha_inicial }} - <br>{{ disp.get_ultimo_migrado.fecha_final }}
                        </small>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" id="btnSincr_{{ disp.pk }}" onclick="sincronizarDispositivo({{ disp.pk }})">Sincronizar</button>
                        <button type="button" class="btn btn-success btn-sm" id="btnMigrar_{{ disp.pk }}" onclick="migrarDispositivo({{ disp.pk }})">Migrar</button>
                        <br>
                        <div id="divMensajes_{{ disp.pk }}">
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <th scope="row">1</th>
                    <td class="text-muted">Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("btnSincronizar").addEventListener("click", IniciarSincronizacionTodos);
    document.getElementById("btnMigrar").addEventListener("click", IniciarMigracionTodos);

    function sincronizarDispositivo(id){
        var id_btn = "btnSincr_" + id;
        var id_msj = "divMensajes_" + id;
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'sincronizar-dispositivo-unico' %}',
            data: {'dispositivo_id': id},
            dataType: 'json',
            beforeSend: function(){
                document.getElementById(id_btn).innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Sincronizando...";
                document.getElementById(id_msj).innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de sincronización puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById(id_btn).innerHTML = "Sincronizar";
            },
            success: function (data) {
                console.log(data);
                document.getElementById(id_msj).innerHTML = "";
                var msjs = "";
                data.forEach(function(item) {
                    if (item.estado != 'error'){
                        msjs += "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> " + item.descripcion + " " + item.dispositivo + "</span><br>";
                    }else {
                        msjs += "<span class='small text-danger'>Error al sincronizar dispositivo: " + item.dispositivo + ", Mensaje: " + item.descripcion + "</span><br>";
                    }
                });
                document.getElementById(id_msj).innerHTML = msjs;
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al migrar dispositivos.\n\n" + arrExe.responseText);
            }
        });
    };

    function migrarDispositivo(id){
        console.log("migrar dispositivo id: " + id);
        var id_btn = "btnMigrar_" + id;
        var id_msj = "divMensajes_" + id;
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'migrar-info-unico' %}',
            data: {'dispositivo_id': id},
            dataType: 'json',
            beforeSend: function(){
                document.getElementById(id_btn).innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Migrando...";
                document.getElementById(id_msj).innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de migración puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById(id_btn).innerHTML = "Migrar";
            },
            success: function (data) {
                console.log(data);
                document.getElementById(id_msj).innerHTML = "";
                var msjs = "";
                data.forEach(function(item) {
                    if (item.estado != 'error'){
                        msjs += "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> " + item.descripcion + " " + item.dispositivo + "</span><br>";
                    }else {
                        msjs += "<span class='small text-danger'>Error al migrar dispositivo: " + item.dispositivo + ", Mensaje: " + item.descripcion + "</span><br>";
                    }
                });
                document.getElementById(id_msj).innerHTML = msjs;
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al migrar dispositivos.\n\n" + arrExe.responseText);
            }
        });
    };

    function IniciarMigracionTodos(){
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'migrar-info' %}',
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("btnMigrar").innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Migrando...";
                document.getElementById("divMensajesMigrar").innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de migración puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById("btnMigrar").innerHTML = "Migrar a Attendance";
            },
            success: function (data) {
                document.getElementById("divMensajesMigrar").innerHTML = "";
                var msjs = "";
                data.forEach(function(item) {
                    if (item.estado != 'error'){
                        msjs += "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> " + item.descripcion + " " + item.dispositivo + "</span><br>";
                    }else {
                        msjs += "<span class='small text-danger'>Error al migrar dispositivo " + item.dispositivo + ", Mensaje: " + item.descripcion + "</span><br>";
                    }
                });
                document.getElementById("divMensajesMigrar").innerHTML = msjs;
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al migrar dispositivos.\n\n" + arrExe.responseText);
            }
        });
    };

    function IniciarSincronizacionTodos(){
        $.ajax({
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            type: 'GET',
            url: '{% url 'sincronizar-dispositivos' %}',
            dataType: 'json',
            beforeSend: function(){
                document.getElementById("btnSincronizar").innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Sincronizando...";
                document.getElementById("divMensajes").innerHTML = "<span class='small text-muted'><i class='bi bi-info-circle'></i> Esta tarea de sincronizacion puede tardar varios minutos</span>";
            },
            complete: function(){
                document.getElementById("btnSincronizar").innerHTML = "Sincronizar Dispositivos";
            },
            success: function (data) {
                document.getElementById("divMensajes").innerHTML = "";
                var msjs = "";
                data.forEach(function(item) {
                    if (item.estado != 'error'){
                        msjs += "<span class='small text-success'><i class='bi bi-check-circle-fill'></i> " + item.descripcion + " " + item.dispositivo + "</span><br>";
                    }else {
                        msjs += "<span class='small text-danger'>Error al sincronizar dispositivo: " + item.dispositivo + ", Mensaje: " + item.descripcion + "</span><br>";
                    }
                });
                document.getElementById("divMensajes").innerHTML = msjs;
            },
            error: function (msg) {
                var arrExe = eval('(' + JSON.stringify(msg) + ')');
                alert("ERROR: \n\nOcurrio un problema al sincronizar dispositivos.\n\n" + arrExe.responseText);
            }
        });
    };

</script>
{% endblock %}


